services:
        database:
          image: "mysql:latest"
          container_name: "mysql-container"
          environment:
            MYSQL_ROOT_PASSWORD: 'admin123'
            MYSQL_DATABASE: 'wordpress-db'
            MYSQL_USER: 'admin'
            MYSQL_PASSWORD: 'admin123'
          networks:
            - wordpress-networks
          volumes: 
            - mysql_data:/var/lib/mysql
          ports:
            - '3306:3306'
        wordpress:
          depends_on: 
            - database # it means without db setup, wordpress cannot execute, depends on db first

          container_name: "wordpress-container"
          image: "wordpress:latest"
          environment:
            WORDPRESS_DB_HOST: 'database:3306'
            WORDPRESS_DB_USER: 'admin'
            WORDPRESS_DB_PASSWORD: 'admin123'
            WORDPRESS_DB_NAME: 'wordpress-db'
          ports:
            - '8085:80'
          networks: 
            - wordpress-networks
          volumes: 
            - 'wordpress-data:/var/www/html'
        
networks:
  wordpress-networks:
    driver: 'bridge'

volumes:
  wordpress-data:
  mysql_data:

            